#mainbox{
    width: 392px;
    height: 784px;
    background-color: bisque;
}

#upperbox{
    position: relative;
    width:100%;
    height: 72px;
    background-color: white;
}
#addinformation{
	position:absolute;
	left: 16px;
	top: 88px;
}
#point{
	position: absolute;
	left: 288px;
	top: 92px;
}
#sex1{
	position: absolute;
	left: 16px;
	top: 144px;
}
#sex2{
	position: absolute;
	left: 56px;
	top: 188px;
}
#sex3{
	position: absolute;
	left: 152px;
	top: 188px;
}
#sex4{
	position: absolute;
	left: 256px;
	top: 188px;
}
#sexchoose1{
	position: absolute;
	left: 16px;
	top: 184px;
}
#sexchoose2{
	position: absolute;
	left: 112px;
	top: 184px;
}
#sexchoose3{
	position: absolute;
	left: 216px;
	top: 184px;
}
#age1{
	position: absolute;
	left: 16px;
	top: 240px;
}
#age2{
	position: absolute;
	left: 16px;
	top: 272px;
}
#age3{
	position: absolute;
	left: 56px;
	top: 300px;
}
#age4{
	position: absolute;
	left: 152px;
	top: 300px;
}
#age5{
	position: absolute;
	left: 120px;
	top: 352px;
}
#age6{
	position: absolute;
	left: 256px;
	top: 352px;
}
#agechoose1{
	position: absolute;
	left: 16px;
	top: 296px;
}
#agechoose2{
	position: absolute;
	left: 112px;
	top: 296px;
}
#ageselectyear{
	position: absolute;
	width: 96px;
	height: 48px;
	left: 16px;
	top: 344px;
}
#ageselectmonth{
	position: absolute;
	width: 96px;
	height: 48px;
	left: 152px;
	top: 344px;
}
#ste1{
	position: absolute;
	left: 16px;
	top: 416px;
}
#ste2{
	position: absolute;
	left: 16px;
	top: 448px;
}
#ste3{
	position: absolute;
	left: 56px;
	top: 476px;
}
#ste4{
	position: absolute;
	left: 150px;
	top: 476px;
}
#ste5{
	position: absolute;
	left: 256px;
	top: 476px;
}
#stechoose1{
	position: absolute;
	left: 16px;
	top: 472px;
}
#stechoose2{
	position: absolute;
	left: 112px;
	top: 472px;
}
#stechoose3{
	position: absolute;
	left: 216px;
	top: 472px;
}
#bottom1{
	position: absolute;
	left:8px;
	top: 528px;
}
#bottom2{
	position: absolute;
	left:248px;
	top: 520px;
}