#mainbox{
    width: 392px;
    height: 784px;
    background-color: bisque;
}

#upperbox{
    position: relative;
    width:100%;
    height: 72px;
    background-color: white;
}

#middlebox{
    position: relative;
    width:90%;
    height: 500px;
    top:248px;
    left:16px;
}

#middlebox img{
    display: block;
}

#inputPhone{
    position: relative;
    width: 360px;
    height: 48px;
    top:40px;
}

#title{
    position: relative;
    top:20px;
}

#exmcode{
    position: relative;
    width: 96px;
    height: 60px;
}

#login_btn{
    position: relative;
    top:5px;
    right: 5px;
}